$rowColor1: #f3f7ff;
$rowColor2: #d9e6fe;
$primaryColor: #a8c5ff;

.mat-column-actions {
    width: 12rem;
    color: #9BA6B9;
}

table,
tr,
th,
td,
mat-paginator, .mat-mdc-text-field-wrapper {
    font-family: 'Montserrat';
}

mat-form-field {
    border: none;
    width: 80%;
}

.mat-mdc-text-field-wrapper:focus {
    border: none;
    background: #4b87ff;
    width: 70%;
}

tr {
    border: none;
}

:host::ng-deep .mat-mdc-text-field-wrapper {
    background: #EEF3F7;
}

.label {
    font-size: 12px;
    font-family: 'Montserrat';  
}

td.mat-column-email {
    font-weight: 500;
}

.mat-elevation-z8 {
    width: 90%;
    border-radius: 10px;
    box-shadow: none;
}

tr.mat-mdc-header-row {
    font-weight: 600;
}

mat-paginator {
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #F6F8F9;
    margin-top: 20px;
}

.mat-icon{
    height:20px !important;
    width:20px !important;
    font-size:16px !important;
}

tr {
    font-size: 12px;
}

:host::ng-deep .mat-mdc-focus-indicator {
    color: #5E94FF
}

.column-heading {
    gap: 10px;
}

:host::ng-deep table {
    border-radius: 20px;
}



  .form-controls {
    width: 100%;
    font-family: 'Montserrat';
  }

  .form-container {
    gap: 20px;
  }

  .btn {
    background: #5E94FF;
    border: none;
    font-size: 12px;
    padding: 0.75rem 2rem;
    font-family: 'Montserrat';
    font-weight: 500;
}

.btn:hover {
    background: #4b87ff;
}

.control-buttons {
    gap: 20px
}

@media only screen and (max-width: 1000px) {
    .mat-elevation-z8 {
        width: 100% !important;
    }
}

