
<main class="d-flex w-100">
    <div class="container d-flex flex-column mt-5">
        <div class="row vh-90">
            <div class="col-sm-10 col-md-9 col-lg-8 col-xl-7 mx-auto d-table w-sm-100 h-100 d-flex flex-md-row flex-sm-column justify-content-center align-items-center">
                <div class="image col-md-10 col-sm-12">
                    <img src="assets/svgs/students.svg" />
                </div>
                <div class="card col-md-12 col-sm-12">
                    <div class="card-body">
                        <div class="m-sm-3">
                            <form [formGroup]="studentData" (submit)="addStudent()" novalidate>
                                <div class="mb-4">
                                    <label class="form-label">Registration ID</label>
                                    <input class="form-control form-control-md" type="number" formControlName="id"
                                        placeholder="Registration Number" required />
                                    <sub *ngIf="studentData.controls['id'].invalid && studentData.controls['id'].dirty && studentData.controls['id'].errors"
                                        class="text-danger bg-transparent">
                                        Registration Number is required*
                                    </sub>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Full name</label>
                                    <input class="form-control form-control-md" type="text" formControlName="name"
                                        placeholder="Enter Name" required />
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Email</label>
                                    <input class="form-control form-control-md" type="email" formControlName="email"
                                        placeholder="chester2003@gmail.com" />
                                    <sub *ngIf="studentData.controls['email'].invalid && studentData.controls['email'].dirty && studentData.controls['email'].errors?.['required']"
                                        class="text-danger bg-transparent">
                                        Email ID is required*
                                    </sub>
                                    <sub *ngIf="studentData.controls['email'].invalid && studentData.controls['email'].dirty && studentData.controls['email'].errors?.['email']"
                                        class="text-danger bg-transparent">
                                        Email entered is invalid*
                                    </sub>
                                </div>
                                <div class="mb-4">
                                    <label class="form-label">Mobile Number</label>
                                    <input id="numberField" class="form-control form-control-md" type="text"
                                        formControlName="number" placeholder="Enter Number" />
                                    <sub *ngIf="studentData.controls['number'].invalid && studentData.controls['number'].dirty 
                                            && studentData.controls['number'].errors?.['required']"
                                        class="text-danger bg-transparent">
                                        Mobile Number required*
                                    </sub>
                                    <sub *ngIf="(studentData.controls['number'].touched || studentData.controls['number'].dirty) 
                                        && studentData.controls['number'].errors?.['phoneNumberInvalid']"
                                        class="text-danger bg-transparent">
                                        Only digits permitted*
                                    </sub>
                                    <sub *ngIf="(studentData.controls['number'].touched || studentData.controls['number'].dirty) 
                                        && (studentData.controls['number'].errors?.['minlength'] 
                                        || studentData.controls['number'].errors?.['maxlength']) && !studentData.controls['number'].errors?.['phoneNumberInvalid']"
                                        class="text-danger bg-transparent">
                                        Enter a valid Mobile Number*
                                    </sub>
                                </div>
                                <div class="d-grid gap-2 mt-3">
                                    <button type="submit" [disabled]="!studentData.valid"
                                        class="btn btn-md btn-primary">Add User</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>