$hoverColor: #f8f1ff;
$primaryColor: #5E94FF;

.example-sidenav-container {
    height: calc(100vh - 64px);
  }
  
  .mat-sidenav-content {
    height: 100%;
  }

  :host::ng-deep mat-toolbar {
    background: #222E3C;
    color: $primaryColor;
    border-bottom: 1px solid #222E3C;
  }

  .mat-mdc-list-item-unscoped-content{
    font-family: 'Montserrat';
  }

  :host::ng-deep .mat-mdc-list-item {
    width: 90%;
  }

  :host::ng-deep .mat-mdc-list-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .elem {
    gap: 10px;
  }

  :host::ng-deep .mdc-list-item__content {
    gap: 20px;
  }


  :host::ng-deep .mat-mdc-list-item-unscoped-content {
    display: flex;
    gap: 10px;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 14px;
  }

  :host::ng-deep .mat-mdc-list-item-unscoped-content {
    color: rgb(206, 206, 206);
    font-size: 12px;
    font-weight: 500;
  }
  
  :host::ng-deep .mat-mdc-list-item:hover {
    
    .mat-mdc-list-item-unscoped-content {
      color: #9BA6B9;
      font-size: 12px;
      font-weight: 500;
    }
  }

  :host::ng-deep .mat-mdc-list-item-unscoped-content {
    color: #9BA6B9;
  }

  :host::ng-deep .mat-mdc-list-item:focus {
    background: #fefeff;
    width: 90%;
    border-radius: 5px;

    .mat-mdc-list-item-unscoped-content {
      color: $primaryColor;
    }
  }

  :host::ng-deep .mat-mdc-cell {
    margin: 1rem;
  }

  :host::ng-deep .mat-mdc-text-field-wrapper {
    background: #e0eaff;
  }

  :host::ng-deep .mat-sidenav {
    width: 250px;
}

:host::ng-deep .mat-toolbar {
  gap: 10px;
}

:host::ng-deep .mat-drawer-content {
  background: #F6F8F9;
}